body {
  background-color: white;
}

h1 {
  color: lightblue;
  text-align: center;
  font-family: verdana;
}

p {
  color: lightblue;
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}
h2{
 color: lightblue;
  font-family: verdana;
}
li{
 color: lightblue;
  text-align: center;
  font-family: verdana;
}
